
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&display=swap');
@import "tailwindcss";
body {
  background-color: #fbe3bb;
  font-family: 'Baloo 2', cursive;
  overflow-x:hidden;
}
.pres{
  background-image: url('./assets/pexels-pauline-raw-131148428-10488747.jpg');
  height:400px;
  object-fit:cover;
}
span,h3{

  color:oklch(83.7% 0.128 66.29);
}
@theme{
  --color-red-500:oklch(70.4% 0.191 22.216);
  --color-gray-500:#A0A0A0;
  --color-red-50:#FFF1EE;
  --color-orange-100:#fbe3bb;
  --color-orange-300: oklch(83.7% 0.128 66.29);
  --color-black-200:#0f0a0e;
}
.underline-custom {
  text-decoration: underline;
  text-decoration-color: #FF4D4F; /* couleur personnalisée */
  text-underline-offset: 6px;    /* espace entre le texte et le soulignement */
  text-decoration-thickness: 2px; /* épaisseur de la ligne */
}

h1{
  color: black; 
  
}
.reservation{
  background-image: url('./assets/chad-montano--GFCYhoRe48-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
  
}
.reservation-input{
  @apply border-[#6a7282] p-2 bg-orange-100 border-2 rounded-2xl w-full shadow-sm focus:outline-none;
}
.menu{
  background-image: url('./assets/rename2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
